Repository DewitteRuben/customer-statement-processor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint frontend/ --fix --config frontend/eslint.config.js, npx eslint backend/ --fix --config backend/eslint.config.mjs, prettier -w

feat: add commitlint config
  .lintstagedrc
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier -w

refactor: use path alias for tsconfig
  backend/src/parser/csv.ts
  backend/src/parser/parser.ts
  backend/src/parser/xml.ts
  backend/src/validator/validate.test.ts
  backend/src/validator/validate.ts
  backend/tsconfig.json
  frontend/src/api/api.ts
  frontend/src/components/FileValidationManager/filevalidationmanager.tsx
  frontend/src/components/StatementRecordErrorItem/statementrecorderroritem.tsx
  frontend/src/components/StatementRecordItem/statementrecorditem.tsx
  frontend/src/components/StatementRecordList/statementrecordlist.tsx
  frontend/src/pages/home.tsx
  frontend/tsconfig.app.json
Due: npx eslint frontend/ --fix --config frontend/eslint.config.js, npx eslint backend/ --fix --config backend/eslint.config.mjs, prettier -w

refactor: better error handling
  frontend/src/api/api.ts
  frontend/src/components/FileValidationManager/filevalidationmanager.tsx
Due: npx eslint frontend/ --fix --config frontend/eslint.config.js, prettier -w

chore: add optional chaining to prevent possible undefined
  backend/src/parser/csv.test.ts
  backend/src/validator/validate.test.ts
Due: npx eslint backend/ --fix --config backend/eslint.config.mjs, prettier -w

chore: enable no implicit any rule
  backend/tsconfig.json
  frontend/tsconfig.app.json
Due: prettier -w

docs: update README
  README.md
  backend/package.json
Due: prettier -w

docs: update README, add test section
  README.md
Due: prettier -w

chore: change old name
  package-lock.json
Due: prettier -w

chore: better styling for file input and container
  frontend/src/components/Button/button.tsx
  frontend/src/components/FileInput/fileinput.tsx
  frontend/src/components/FileValidationManager/filevalidationmanager.tsx
  frontend/src/pages/home.tsx
Due: npx eslint frontend/ --fix --config frontend/eslint.config.js, prettier -w

chore: remove unused styling
  frontend/src/components/Button/button.tsx
Due: npx eslint frontend/ --fix --config frontend/eslint.config.js, prettier -w

chore: border styling
  frontend/src/components/FileInput/fileinput.tsx
Due: npx eslint frontend/ --fix --config frontend/eslint.config.js, prettier -w

docs: simplify README
  README.md
Due: prettier -w

chore: remove unused README
  frontend/README.md
Due: prettier -w

chore: update README
  README.md
Due: prettier -w

Path conditions:
  npx eslint frontend/ --fix --config frontend/eslint.config.js: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx eslint backend/ --fix --config backend/eslint.config.mjs: any of: backend/**/*.{js,jsx,ts,tsx}
  prettier -w: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{html,json,css,scss,md,mdx})
